.stats
  :global
    .adm-list-item-content-main
      padding: var(--adm-gap-sm)
    .adm-list-item
      font-size: 1.2rem
      &:first-child
        font-size: 1.4rem
        font-weight: bold
        color: var(--adm-color-black)
        background: linear-gradient(125deg, var(--adm-color-primary), transparent)
      .adm-avatar
        width: 55px
        height: 55px