.pitch
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/images/bence-balla-schottner-deGn9vSwXIM-unsplash.webp) center center / cover no-repeat var(--adm-color-black)
  background-attachment: fixed

.lineup
  :global
    .adm-list-item
      background: var(--adm-color-black)
    .adm-list-item-content
      border-top: 0
    .adm-list-item-content-main
      padding: 0