.bar
  background-color: var(--adm-color-black)
  height: var(--nav-height)

.top
  box-sizing: border-box
  padding: 0 var(--adm-gap)
  a
    color: var(--adm-color-white)
  :global
    .adm-space-item:nth-child(2)
      flex: 1
      display: flex
      justify-content: center
      align-items: center

.countdownBar
  box-sizing: border-box
  padding: 0 var(--adm-gap)
  height: 100%
  :global
    .adm-space-item:nth-child(2)
      flex: 1
      display: flex
      justify-content: center
      align-items: center

.link
  text-decoration: none

.more
  transform: rotateZ(90deg)

.height
  height: var(--nav-height)
  min-height: var(--nav-height)

.tab
  display: flex
  align-items: center

.btm
  height: var(--nav-height)
  display: flex
  align-items: stretch
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background: linear-gradient(75deg, #0038a8, #ce1126)
  z-index: 9

.tabbar
  width: 100%
  :global
    .adm-tab-bar-wrap
      height: 100%
    .adm-tab-bar-item 
      a
        color: var(--adm-color-white)
        opacity: .4
        &:hover, &:active
          color: #fbd115
          opacity: 1
    .adm-tab-bar-item-active a
      color: #fbd115
      opacity: 1

.tabs
  display: none

@media (min-width: 992px)
  .tabs
    display: inline-block